@font-face {
  font-family: candara;
  src: url("../fonts/Candara.ttf");
}

body{
  font-family: candara;
}

#background {
  background-color: #AAAAAA;
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mx-10p{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}


.href{
  cursor: pointer;
}

.href-link{
  text-decoration: underline;
  color: #6c757d;
}

.content-width{
  width: fit-content;
}

.questioin-padding {
  padding-bottom: 20px;
}

.result-wrong {
  background-color: #D8000C;
  font-weight: bold;
}

.result-correct {
  background-color: green;
  font-weight: bold;
}

.margin-left {
  margin-left: 40px;
}

.result-text {
  font-weight: bold;
  background: black;
}

#timer{
  padding-top: 15px;
  float: right;
  margin-right: 10px;
}
.marked-p{
  float: right;
  margin-right: 10px;
}
.question-stem{
  font-size: xx-large;
  margin-top:10px;
}
.quiz-button{
  width: 85px !important;
  place-content: center;
}
.num-button{
  display: inline;
  place-content: center;
}
.question-image{
  max-height: 185px;
  float: right;
  display:inline;
  max-width:100%;
}

.three-options{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.two-options{
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.mode-image{
  width: 20%;
  max-width: 250px;
  margin-left: 5%;
  margin-right: 5%;
}
