{% extends "ud-layout.html" %}
{% set menu =  "back" %}

{% block content %}
    <script src="{{url_for('static', filename='js/learn.js')}}"></script>

    <script>
        let info = {{info|tojson}}
        let num = {{num|tojson}}
        let marked = {{marked|tojson}}
    </script>

    <style>
        .display-2 {
            font-size: 3.5rem;
            line-height: 1.2;
        }

        #content{
            height: auto;
            background: rgba(0,0,0,.5);
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 50px;
            padding-top: 10px;
        }

        #content button{
            align-content: center;
            width: 40px;
            margin-top: 20px;
            display: inline-flex;
            margin-inline: 5px;
        }

        .title{
            margin-left: 10px;
            font-weight: bold;
        }

        .text1{
            margin-left: 10px;
            margin-right: 10px;
        }

        .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        }

        /* The actual popup */
        .popup .popuptext {
        visibility: hidden;
        width: auto;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
        }

        /* Popup arrow */
        .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        }
        
        /* Toggle this class - hide and show the popup */
        .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
        }

        /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
        }

        @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
        }
        
        #sign_img{
            /* width:200px; */
            width: 100%;   
        }

	</style>

    <div class="vertical-center mx-10p">
        <p card-text class="display-2 text-light mt-0"><b> {{info.name}} | {{info.category}}</b></p>
        <div id = "content">

            <div class="row">
                <p class="text-light lead title">{{info.name}}</p>
            </div>

            <div class="row">
                <div class="col-9 align-self-center">
                    <p class="text-light lead">
                        {{info.description}}
                    </p>
                </div>

                <div class="col-3 align-self-center">
                    <img class="question-image" src="{{url_for('static', filename='images/road_sign_img/' + num|string + '.png')}}">
                </div>
            </div>



            <div class="row">
                <div class="col-9">
                    <button class="btn btn-outline-light my-4 quiz-button" id="prev">Previous</button>
                    <div class="btn btn-outline-light my-4 quiz-button popup" onclick="popUp()">
                        Hint
                        <span class="popuptext" id="myPopup">{{info.hint}}</span></div>
                    <button class="btn btn-outline-light my-4 quiz-button" id="next" {{"disabled" if num == 45}}>Next</button>
                </div>
                <div class="col-3 align-self-center">
                    <p class="marked-p"><a class="text-light href bi-bookmark{{'-fill' if marked}}" id="mark"> &nbsp;{{'Not ' if not marked}}Marked</a></p>
                </div>
            </div>
        </div>
    </div>
	

{% endblock %}