{% extends "ud-layout.html" %}

{% block content %}

    <script src="{{url_for('static', filename='js/mode.js')}}"></script>
	<script>
		let title = {{title|tojson}}
		console.log(title)
	</script>

    <div class="vertical-center text-center mx-10p">
        <img class="href mode-image" src="{{url_for('static', filename='images/learn.png')}}" onclick="learnPage()">
        <img class="href mode-image" src="{{url_for('static', filename='images/quiz.png')}}" onclick="quizPage()">
    </div>

{% endblock %}