{% extends "ud-layout.html" %}

{% block content %}

    <script src="{{url_for('static', filename='js/quiz.js')}}"></script>
	<script>
		let title = {{title|tojson}}
        let num = {{num|tojson}}
        let question = {{question|tojson}}
        let user_answers = {{user_answers|tojson}}
        let marked_questions = {{marked_questions|tojson}}
        console.log(num)
		console.log(title)
        console.log(question)
        console.log(user_answers)
        console.log(marked_questions)
	</script>

	<style>
        #content{
            height: auto;
            background: rgba(0,0,0,.5);
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 50px;
        }
        #content button{
            align-content: center;
            width: 40px;
            margin-top: 20px;
            display: inline-flex;
            margin-inline: 5px;
        }
        label{
            display: inline !important;
        }
	</style>

    <div class="vertical-center mx-10p">
        <p card-text class="display-2 text-light mt-5"><b>Road Sign Quiz</b></p>
        <div id = "content">
            <div id="question_nums">
                {% for i in range(1, 11) %}
                    <button class="btn btn-outline-light num-button {{'btn-secondary' if user_answers[i - 1] != 'X'}}" onclick="goToQuestion({{i}})">{{'⭐' if (i) in marked_questions else (i)}}</button>
                {% endfor %}
            </div>

            <h4 id="timer" class="text-light my-2">20:00</h4>

            <div class="mx-2">
                <p class="text-light my-3 question-stem">
                    {{num}}. {{question.stem}}
                </p>
                <div class="row">
                    <div class="col-9">
                        <p class="text-light lead">
                            <input type="radio" id="A" value="A" onchange="selectSingle(this)" {{'checked' if user_answers[num - 1]=='A'}}  {{'disabled' if question.A==''}}>
                            <label for="A"> A. {{question.A}}</label>
                        </p>
                        <p class="text-light lead">
                            <input type="radio" id="B" value="B" onchange="selectSingle(this)" {{'checked' if user_answers[num - 1]=='B'}} {{'disabled' if question.B==''}}>
                            <label for="B"> B. {{question.B}}</label>
                        </p>
                        <p class="text-light lead">
                            <input type="radio" id="C" value="C" onchange="selectSingle(this)" {{'checked' if user_answers[num - 1]=='C'}} {{'disabled' if question.C==''}}>
                            <label for="C"> C. {{question.C}}</label>
                        </p>
                        <p class="text-light lead">
                            <input type="radio" id="D" value="D" onchange="selectSingle(this)" {{'checked' if user_answers[num - 1]=='D'}} {{'disabled' if question.D==''}}>
                            <label for="D"> D. {{question.D}}</label>
                        </p>

                        <p><a class="text-light href bi-bookmark{{'-fill' if num in marked_questions}}" onclick="mark()"> &nbsp;{{'Not ' if num not in marked_questions}}Marked</a></p>

                    </div>

                    <div class="col-3">
                        <img class="question-image" src="{{question.image}}">
                    </div>
                </div>
            </div>

            <button class="btn btn-outline-light my-4 quiz-button" onclick="goToQuestion(num-1)" {{'disabled' if num==1}}>Previous</button>
            <button class="btn btn-outline-light my-4 quiz-button" onclick="submit()" id="submitButton">Submit</button>
            <button class="btn btn-outline-light my-4 quiz-button" onclick="goToQuestion(num+1)" {{'disabled' if num==10}}>Next</button>
        </div>
    </div>
	
{% endblock %}